header {
    background-image: url(../imagenes/capo\ de\ te\ bannert.jpg);
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: header;

    nav {
        float: right;
        color: map-get($map: $palette, $key: "success");

        ul {
            li {
                list-style: none;
                margin-left: 75px;
                padding: 12px 0;
                float: left;
                position: relative;

            }
        }
    }

}

.logo1 {
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 10px 30px;
}

.logo-img {
    height: 50px;
    margin-right: 15px;
}

.navegador {
    background-color: 0, 0, 0, 0.5;
}

.navbar-toggler {
    background-color: map-get($map: $palette, $key: "success");
    color: map-get($map: $palette, $key: "secondary");
}

.nav_color {
    color: map-get($map: $palette, $key: "success");
}

.nav-link {
    color: map-get($map: $palette, $key: "success");
}

.formulario2 {
    margin: 20px;
}

.buscador1 {
    margin: 20px;
    color: map-get($map: $palette, $key: "secondary");
}