/* variables */
$primary-color: rgb(10, 66, 92);
$text-color: white;
$secundary-color: black;
$mobile: 768px;

$palette: (
    "primary":rgb(10, 66, 92),
    "secondary":black,
    "success":white,

);

/* extend */
.card {
    @extend .contenido;
    background-color: map-get($map: $palette, $key: "primary");
    color: map-get($map: $palette, $key: "success");

    h3 {
        color: map-get($map: $palette, $key: "success");
    }

    p {
        color: map-get($map: $palette, $key: "success")
    }

    a {
        color: map-get($map: $palette, $key: "success")
    }
}