/* variables */
$primary-color: rgb(10, 66, 92);
$text-color: white;
$secundary-color: black;
$mobile: 768px;

/* extend */
.card {
    @extend .contenido;
    background-color: rgb(10, 66, 92);
    color: white;

    h3 {
        color: white;
    }

    p {
        color: white;
    }
}