* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* estilos del body,logo y header */

body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 10px 10px 10px 10px;
  background-image: url(./imagenes/fondo\ celeste.jpg);
  background-position: center center;
  background-size: cover;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 5, auto;
  grid-template-rows: 5, auto;

}

header {
  background-image: url(./imagenes/capo\ de\ te\ bannert.jpg);
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header;
}

.main {
  grid-area: main;

}

.footer {
  grid-area: footer;

}


.logo1 {
  display: flex;
  align-items: center;
  margin: 0%;
  padding: 10px 30px;
}

.logo-img {
  height: 50px;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: azure;
  display: inline-block;
}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 12px 0;
  float: left;
  position: relative;
}

/* letras parrafos y botones */
h1 {
  font-size: 3em;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: black;
}

h2 {
  font-size: 2.2em;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1.8em;

  align-items: center;
  text-align: center;
  flex-direction: column;
  color: black;
}

p {
  font-size: 1em;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: black;
}

.boton1 {
  font-weight: bold;
  font-size: 0.7em;
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  background-color: rgb(10, 66, 92);
  width: 400px;
  box-shadow: 1px 2px 10px rgba(3, 18, 132, 0.2);
  transition: all 400ms ease;



  /* contenido de las tarjetas del index */
}

.boton1:hover {
  box-shadow: 5px 7px 25px rgba(6, 19, 92, 0.9);
  animation-name: animacionboton;
  animation-duration: 5s;
  position: relative;
}


@keyframes animacionboton {
  10% {
    background: rgb(0, 157, 255);
    left: 200px;
    top: 0px;
  }

}

.container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  margin-right: 10px;
  margin-left: 10px;
  gap: 20px;

}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: aliceblue;
  cursor: default;
  box-shadow: 1px 2px 10px rgba(9, 9, 112, 0.2);
  border: 2px solid black;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 7px 25px rgba(5, 23, 103, 0.9);
  transform: rotate(40deg);
  transition: all .3s;
}

.card img {
  width: 100%;
  height: 210px;

}

.card .contenido {
  padding: 18px;
  text-align: center;
}

.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 12px;
  margin-top: 10px;
  color: rgb(10, 66, 92);
  border: 1px solid;
  border-radius: 5px;


}

.titulodeindex {
  align-items: center;
}

/* formulario */
.contacto {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue
}

.contacto_img {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto_imagenen {
  width: 100%;
}

.contacto_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px 0 15px;
  width: 50%;
}

.contacto_titulo {
  font-size: 100px;
  margin-bottom: 10px;
  display: flex;

}

.contacto_formulario,
.contacto_2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contacto_2 {
  margin-bottom: 45px;
}

.contacto_label {
  font-size: 18px;

}

.contacto_input {
  height: 30px;
  padding: 5px 0;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: black;
  background-color: transparent;
}

.contacto_textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: black;
  background-color: transparent;
}

.boton-de-contactos,
.borrar-contactos {
  padding: 18px 55px;
  background-color: black;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 18px;

}


.contact__submit-button:hover {
  background-color: gray;
}

/* tarjetas de productos */
.cardcontainer {
  color: brown;

}

.tarjeta-img {
  width: 800px;
}


.tarjetas {
  height: 200;
  width: 100px;
}

/* elementos de categorias */
.categoriaste {

  font-size: 2rem;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: black;
}




/*  contenido del footer con grids */
.pie-pagina {
  width: 100%;
  background-color: rgb(10, 66, 92);
  ;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgb(22, 108, 140);
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: rgb(6, 19, 137);
}

.pie-pagina .grupo-2 {
  background-color: azure;
  padding: 15px 10px;
  text-align: center;
  color: black;
}

.img_footer {
  height: 100px;
  margin-right: 15px;
}

/* contenido de edicion para boostraps */
.navegador {
  background-color: 0, 0, 0, 0.5;

}

.navbar-toggler {
  background-color: white;
  color: black;
}

.nav_color {
  color: white;
}

.nav-link {

  color: white;
}

.formulario2 {
  margin: 20px;

}

.buscador1 {
  margin: 20px;
  color: black
}


/* responsive */
@media(max-width: 780px) {

  .container {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    ;
    grid-template-areas:
      "header header"
      " main main"
      "footer main";
  }

  .card {

    width: 1000px;


  }

  p {

    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0.5em;
    ;


  }

  .card {
    width: 50%;

  }



  h1 {
    font-size: 3em;
    width: 50%;
    margin: 20px;
    padding: 0.5em;



  }

  h2 {
    font-size: 2em;
    width: 350px;
    padding: 0.7em;
  }

  .h3index {
    font-size: 1.5em;
    width: 250px;
  }

  .h3_historia {
    font-size: 1.5em;
    width: 400px;

  }



  .navegador {
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px
  }

  nav li ul {
    display: flex;

  }

  .pie-pagina .grupo-1 {
    grid-template-columns: repeat(1, auto);
    width: 90%;
  }

  .grupo-2 {
    width: 370px;

  }

  .img_footer {

    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 500px;
  }

  .borrar-contactos,
  .boton-de-contactos {
    width: 100%;
    font-size: 12px
  }

  .contacto_titulo {
    font-size: 2em;
    width: 70%;
    margin: 20px;
    padding: 0.5em;
  }

  .tarjeta-img {
    width: 200px;
  }


  .tarjeta-img {
    width: 400px;
  }

  .contacto_1 {
    width: 800px;
  }

  .btn-group {
    width: 100%;
    flex-direction: column;

  }
}


@media(max-width: 390px) {




  .boton1 {
    width: 150px;
  }


  header {
    width: 450px;
  }

  p {

    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0.5em;

  }

  .card {
    width: 50%;

  }



  h1 {
    font-size: 3em;
    width: 50%;
    margin: 20px;
    padding: 0.5em;



  }

  h2 {
    font-size: 2em;
    width: 350px;
    padding: 0.7em;
  }

  .h3index {
    font-size: 1.5em;
    width: 250px;
  }

  .h3_historia {
    font-size: 1.5em;
    width: 350px;

  }



  .navegador {
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px
  }

  .pie-pagina .grupo-1 {
    grid-template-columns: repeat(1, auto);
    width: 90%;
  }

  .grupo-2 {
    width: 290px;

  }

  .img_footer {

    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 200px
  }

  .borrar-contactos,
  .boton-de-contactos {
    width: 50%;
    font-size: 8px
  }

  .contacto_titulo {
    font-size: 2em;
    width: 200px;
    margin: 20px;
    padding: 0.5em;
  }

  .tarjeta-img {
    width: 200px;
  }


  .contacto_1 {
    width: 700px;
    grid-template-columns: repeat(1, auto);
    width: 90%;
  }

  .contacto_2 {
    width: 700px;
    grid-template-columns: repeat(1, auto);


  }

  .contacto {
    width: 800px;
  }

  .btn-group {
    width: 100%;
  }
}